
.wideInput {
    width: 50px;
}

.fullWidthInput {
    width: 40%;
}

.centeredInput {
    text-align: center;
    width: 100px;
}

.labelCol {
    display: flex;
    align-items: center;
}

.spacedRow {
    margin-bottom: 1rem;
}

.inputCol {
    width: 50px;
}